/**
 * index.scss
 * - Add any styles you want here!
 */


 /* Add padding to containers */
 .container {
    padding: 20px;
  }

  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 30%;
    padding: 15px;
    margin: 2px 0 22px 380px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  /* Set a style for the submit/register button */
  .registerbtn {
    background-color: #2979f0;
    color: white;
    padding: 16px 20px;
    margin-left: 455px;
    border: none;
    cursor: pointer;
    width: 20%;
    opacity: 0.75;
  }

  .registerbtn:hover {
    opacity:1;
  }


 /**forms */





 html {
   font-size: 62.5%;
   box-sizing: border-box;
 }

 body {
   margin: 0;
   padding: 0;
   font-family: "Montserrat",sans-serif;
 }

 /*navbar*/
 /*sidebar*/
 .sidebar {
   width: 8rem;
   height: 100%;
   background-color: #eee;
   position: fixed;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   z-index: 10;
 }

 .menu-icon {
   margin-top: 3rem;
   cursor: pointer;
 }

 .line {
   height: .2rem;
   margin-top: .3rem;
   width: 2.5rem;
   background-color: rgb(18, 154, 245);
 }

 .line-1, .line-3 {
   width: 1.8rem;
   transition: all .5s;
 }

 .menu-icon:hover .line {
   width: 2.5rem;
 }

 .social-media-icon {
   list-style: none;
   height: 25rem;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   padding: 0;
 }

 .social-link {
   font-size: 2rem;
   color: rgb(45, 161, 238);
   transition: color .3sec;
 }

 .social-link:hover {
   color: #deaa86;
 }

 .year p {
   font-size: 1.5rem;
   font-family: 'Roboto', sans-serif;
   color: rgb(63, 147, 243);
 }

 .year p:hover {
   color: blue;
 }

 /*end of sidebar*/
 /*navigation*/
 .navigation {
   left: -32rem;
   /*removed margin left and replaced with left*/
   position: fixed;
   width: 35rem;
   height: 100%;
   background: linear-gradient(to top, #222229, #222029);
   /*url("https://i.postimg.cc/9QJNydq3/training-828744-1920.jpg");*/
   background-position: center;
   background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   transition: left 0.8s cubic-bezier(1, 0, 0, 1);
   z-index: 1;
 }

 .navigation-heading {
   font-family: "josefin sans", sans-serif;
   font-size: 2.5rem;
   font-weight: 300;
   letter-spacing: .2rem;
   color: #59bcf5;
   text-align: center;
 }

 .navigation-search {
   position: relative;
 }

 .search-input {
   width: 25rem;
   padding: 1rem 2rem;
   background-color: rgba(0, 0, 0, 0.3);
   font-family: "josefin sans", sans-serif;
   font-size: 1.6rem;
   color: #28a9c0;
   letter-spacing: .1rem;
   outline: none;
   border: .1rem solid rgb(69, 170, 238);
   border-radius: 10rem;
   transition: background-color .3sec;
 }

 .search-input:hover {
   background-color: #212524;
 }

 .search-button {
   border: none;
   background: transparent;
   color: #5aa8e7;
   font-size: 2.7rem;
   position: absolute;
   top: .5rem;
   right: .7rem;
   outline: none;
   cursor: pointer;
 }

 .navigation-list {
   list-style: none;
   padding: 0;
   height: 20rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
 }

 .navigation-item {
   position: relative;
 }

 .nav-link {
   color: #fff;
   font-size: 1.5rem;
   font-weight: 400;
   letter-spacing: .1rem;
   text-transform: uppercase;
   text-decoration: none;
   transition: color .5s;
 }

 .nav-link::before {
   content: "";
   width: 0rem;
   height: .2rem;
   background-color: #5189dd;
   position: absolute;
   top: .7rem;
   left: -3.5rem;
   transition: width 0.5s cubic-bezier(1, 0, 0, 1);
 }

 .nav-link::after {
   content: "";
   width: 0rem;
   height: .2rem;
   background-color: #5a94e0;
   position: absolute;
   top: .7rem;
   right: -3.5rem;
   transition: width 0.5s cubic-bezier(1, 0, 0, 1);
 }

 .nav-link:hover {
   color: #6da2dd;
 }

 .nav-link:hover::before,
 .nav-link:hover::after {
   width: 3rem;
 }

 .copyright {
   color: #fff;
   font-size: 1.2rem;
   text-align: center;
   margin-bottom: 1.5rem;
 }

 .checkbox:checked ~ .navigation {
   left: 8rem;
 }

 .checkbox:checked ~ .sidebar .line-1 {
   transform: rotate(-405deg) translate(-7px, 7px);
   width: 2.5rem;
 }

 .checkbox:checked ~ .sidebar .line-2 {
   opacity: 0;
 }

 .checkbox:checked ~ .sidebar .line-3 {
   transform: rotate(405deg);
   width: 2.5rem;
 }

 /*end of navigation*/
 /*end of navbar*/
 /*header*/
 .header {
   margin: 0rem 0rem 0rem 8rem;
   height: 100vh;
   background: url(https://i.postimg.cc/NjL44hWT/dumbbell-1966247-1920.jpg);
   background-size: cover;
   box-sizing: border-box;
 }

 .hbrand {
   display: flex;
   cursor: pointer;
 }

 .gym-heading {
   font-size: 2.7rem;
   font-weight: 400;
   color: #1B8BD3;
   letter-spacing: .2rem;
 }

 .banner {
   color: #ddd;
   height: 65rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 10rem;
 }

 .banner-heading {
   font-size: 4rem;
   font-weight: 400;
   margin-bottom: 0;
   animation: anim 2s;
 }

 .banner-paragraph {
   font-size: 2.5rem;
   font-weight: 300;
   animation: anim 1.5s .5s backwards;
 }

 .banner-button {
   width: 15rem;
   padding: 1.2rem 2rem;
   font-size: 2rem;
   color: #333;
   letter-spacing: .1rem;
   border: none;
   border-radius: 10rem;
   outline: none;
   background: linear-gradient(to right, #1B8BD3, rgb(210, 232, 238));
   animation: anim 1s 1s backwards;
 }

 .banner-button:hover {
   background: linear-gradient(to left, #1B8BD3, white);
 }

 .banner-button:active {
   transform: translateY(0.2rem);
 }

 @keyframes anim {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 100%;
   }
 }

 /*end of header*/
 /*About us*/
 .aboutus {
   margin-left: 8rem;
   display: flex;
   background-color: #ddd;
 }

 .aboutus-content {
   flex: 0 1 50%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 10rem;
   box-sizing: border-box;
 }

 .about-us-images {
   flex: 1 1;
 }

 .aboutus-heading {
   font-size: 4rem;
   font-weight: 300;
   text-transform: uppercase;
   color: #555;
 }

 .small-underline {
   width: 9rem;
   height: .1rem;
   background-color: #1B8BD3;
   margin: 0 auto 1rem auto;
 }

 .big-underline {
   width: 20rem;
   height: .1rem;
   background-color: #1B8BD3;
 }

 .sub-heading {
   font-size: 3.5rem;
   font-weight: 300;
   letter-spacing: .2rem;
   color: #1B8BD3;
 }

 .aboutus-paragraph {
   font-size: 1.6rem;
   font-style: italic;
   font-weight: 300;
   text-align: center;
   margin-bottom: 5rem;
 }

 .aboutus-button {
   width: 15rem;
   padding: .7rem .5rem;
   font-size: 1.2rem;
   text-transform: uppercase;
   color: #1B8BD3;
   background: transparent;
   cursor: pointer;
   border: .1rem solid #1B8BD3;
 }

 .btn-arrw {
   margin-left: .5rem;
   transition: margin-left .4sec;
 }

 .aboutus-button:hover .btn-arrw {
   margin-left: 1.5rem;
 }

 .about-us-images {
   flex: 1 1;
   position: relative;
 }

 .img {
   width: 22rem;
   height: 22rem;
   position: absolute;
   top: 50%;
   left: 50%;
   box-shadow: 0 6rem 12rem rgba(0, 0, 0, 0.4);
   border-radius: .4rem;
   border: .2rem solid #1B8BD3;
 }

 .img1 {
   transform: translate(-10%, -120%);
 }

 .img2 {
   transform: translate(-100%, -70%);
 }

 .img3 {
   transform: translate(-50%, -30%);
 }

 .img4 {
   transform: translate(10%, 10%);
 }

 /*end of about us*/
 /*facilities*/
 .faclities-header {
   padding: 1rem;
   text-align: center;
   color: #1B8BD3;
 }

 .facilities-heading {
   font-size: 3rem;
   font-weight: 300;
   letter-spacing: .2rem;
 }

 .small-underline {
   width: 9rem;
   height: .1rem;
   background-color: #1B8BD3;
   margin: 0 auto 1rem auto;
 }

 .big-underline {
   width: 40rem;
   height: .1rem;
   background-color: #1B8BD3;
   margin: auto;
 }

 .facilities {
   margin-left: 8rem;
 }

 .facilities-cards {
   width: 60rem;
   margin: 5rem;
   background-color: #15141b;
 }

 .facilities-cards-wrapper {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 }

 .facilities-cards {
   width: 35rem;
   height: 40rem;
   margin: 4rem;
   background-color: #15141b;
   box-shadow: 0 5rem 6rem rgba(0, 0, 0, 0.3);
 }

 .faclities-img {
   width: 100%;
   height: 65%;
 }

 .card-content {
   color: #ddd;
   padding: 1rem;
 }

 .card-heading {
   margin: 0;
   font-size: 2rem;
   font-weight: 300;
 }

 .card-paragraph {
   color: #777;
   font-size: 1.5rem;
 }

 .card-btn {
   width: 12rem;
   padding: 1rem 1rem;
   font-size: 1.2rem;
   text-transform: uppercase;
   color: #1B8BD3;
   background: transparent;
   cursor: pointer;
   border-radius: 10rem;
   border: .1rem solid #1B8BD3;
   outline: none;
 }

 .check-all-wrpr {
   text-align: center;
 }

 .check-all-btn {
   padding: 1.5rem 1rem;
   width: 20rem;
   margin: 2rem 0;
   background-color: transparent;
   text-transform: uppercase;
   color: #1B8BD3;
   border: .2rem solid #1B8BD3;
   outline: none;
   cursor: pointer;
   box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, 0.2);
   transition: all .2sec;
 }

 .check-all-btn:hover {
   color: #ddd;
   background-color: #1B8BD3;
 }

 /*end of facilities*/
 /*Customers*/
 .customers {
   margin-left: 8rem;
   padding-bottom: 5rem;
   background-color: #15141b;
 }

 .customers-paragraph {
   font-size: 2rem;
   color: #ddd;
   width: 90%;
   margin: 2rem auto 3rem auto;
   text-align: center;
 }

 .customers-cards-wrapper {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
 }

 .customer-card {
   background-color: #eee;
   width: 40rem;
   height: 20rem;
   display: flex;
   margin: 3rem;
 }

 .customer-img-wrapper {
   margin: 0 auto;
 }

 .customer-image {
   width: 15rem;
   height: 18rem;
   margin: 1rem 1rem 1rem -1.5rem;
 }

 .customer-info {
   padding: 0 2rem;
 }

 .customer-name {
   font-size: 2rem;
   font-weight: 300;
   margin-bottom: 0;
 }

 .customer-paragraph-1 {
   font-size: 1.2rem;
   font-style: italic;
   color: #1B8BD3;
 }

 .customer-paragraph-2 {
   font-size: 1.3rem;
   font-style: italic;
 }

 /*end of customers*/
 /*footer*/
 .footer {
   margin-left: 8rem;
 }

 .main-part {
   display: flex;
   justify-content: space-between;
   background-color: #1c1c1c;
   padding: 4rem;
 }

 .footer-heading {
   font-size: 2.5rem;
   font-weight: 300;
   color: #1B8BD3;
   margin: 1rem 0 3rem 0;
 }

 .footer-list {
   list-style: none;
   padding: 0;
 }

 .footer-list-item {
   margin-bottom: 2rem;
 }

 .footer-list-link {
   font-size: 1.4rem;
   text-decoration: none;
   color: #bbb;
 }

 .contact p {
   font-size: 1.5rem;
   color: #bbb;
   margin-bottom: 4rem;
 }

 .footer-form {
   display: flex;
 }

 .footer-input {
   width: 15rem;
   padding: 1rem;
   font-size: 1.8rem;
   color: #444;
   outline: none;
 }

 .footer-btn {
   padding: 1rem;
   background-color: #1B8BD3;
   color: #ddd;
   border: none;
 }

 .gallery {
   width: 45rem;
   padding: 0;
   margin-top: -1rem;
 }

 .footer-heading-gallery {
   color: white;
   font-size: 2.5rem;
   font-weight: 300;
 }

 .image-wrapper {
   width: 13rem;
   height: 10rem;
   margin: 1rem;
   overflow: hidden;
 }

 .footer-image {
   width: 100%;
   height: 100%;
   backface-visiblity: hidden;
   transition: all .5s;
 }

 .gallery-images {
   display: flex;
   flex-wrap: wrap;
 }

 .footer-image:hover {
   transform: scale(1.3);
   opacity: .8;
 }

 .maker {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: black;
   padding: 0 4rem;
 }

 .copyright-text {
   font-size: 1.3rem;
   color: #aaa;
 }

 .right-end {
   font-size: 1.4rem;
   color: #bbb;
 }

 .right-end i {
   font-size: 2rem;
   margin: .5rem;
   color: tomato;
 }

 .right-end span {
   color: gold;
 }

 /*end of footer*/
 @media (max-width: 1200px) {
   .customers-cards-wrapper {
     flex-direction: column;
     align-items: center;
   }
   .customer-card:first-child {
     margin-bottom: 3rem;
   }
   .main-part {
     flex-direction: column;
   }
   .footer-list {
     display: flex;
   }



   .footer-list-item {
     margin-right: 3rem;
   }
 }

 @media (max-width: 900px) {
   .aboutus {
     flex-direction: column;
     padding-bottom: 18rem;
   }
   .aboutus-content {
     margin-bottom: 13rem;
   }
   .img {
     width: 15rem;
   }
 }

 @media (max-width: 900px) {
   .banner {
     text-align: center;
   }
   .banner-heading {
     font-size: 4.7rem;
   }
   .banner-paragraph {
     font-size: 2.6rem;
   }
   .banner-button {
     width: 16rem;
     font-size: 1.5rem;
   }
 }

 @media (max-width: 750px) {
   .customer-card {
     flex-direction: column;
     width: 20rem;
     height: 40rem;
   }
   .customer-image {
     margin-left: 0;
   }
   .footer-list {
     display: block;
   }
   .maker {
     flex-direction: column;
     text-align: center;
   }
   .copyright-text {
     order: 1;
   }
 }

 @media (max-width: 500px) {
   .navigation {
     width: 28rem;
   }
   .search-input {
     width: 20rem;
   }
   .gym-heading {
     font-size: 2rem;
     margin: auto 0;
   }
   .banner-heading {
     font-size: 2rem;
   }
   .header {
     height: 100vh;
     background-size: cover;
   }
   .banner {
     height: 100%;
     margin-top: 20rem;
   }
   .banner-paragraph {
     font-size: 2rem;
   }
   .aboutus {
     padding-bottom: 15rem;
   }
   .aboutus-heading {
     font-size: 2.5rem;
     text-align: center;
   }
   .sub-heading {
     font-size: 2rem;
     text-align: center;
   }
   .aboutus-content {
     padding: 5rem;
   }
   .img {
     width: 13rem;
     height: 13rem;
   }
   .aboutus-heading {
     font-size: 2rem;
   }
   .small-underline {
     width: 3rem;
   }
   .big-underline {
     width: 5rem;
   }
   .customers-paragraph {
     font-size: 1.4rem;
   }
   .main-part {
     padding: 2rem;
   }
   .gallery-images {
     margin: 0;
     padding: 0;
   }
   .image-wrapper {
     width: 15rem;
     margin: .2rem;
     padding: 0;
   }
 }
